@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <div style="font-size:70px;color:#a11a10">
                <i class="fas fa-door-open"></i>
            </div>
    <h1 class="display-4">Welcome</h1>
 <div class="alert alert-primary" role="alert">
                I am Bootsrap 05 Dashboard
            </div>
            <div class="alert alert-info" role="alert">
             Login Implemented Using Asp.NET 06 and MYSQL
            </div></div>
</div>
